

@{
    ViewBag.Title = "Danhsachsanphamfull";
}

<h2>Product List</h2>

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/delete.js"></script>
</head>
<body>

    <div class="container">
        <!--tim theo id-->
        <form class="col-sm-4" action="@Url.Action("TimsanphamtheoID","Home")" method="get">
            <a>
                Enter ID to Find
                <input type="text" name="id" id="id" value="" />
                <input type="submit" class="glyphicon glyphicon-search" value="Search" />
            </a>


            @*<button class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#ModalEdit">Find</button>*@
        </form>
        <!--tim theo nsx-->
        <form action="@Url.Action("Resulttimtheonsx","Home")" method="post">
            <a>

                Enter Origin

                <input type="text" name="Nsx" id="Nsx" value="" />
                <input type="submit" value="Search" class="glyphicon glyphicon-search" />

            </a>
        </form>



    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th>Nhà sản xuất</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var l in ViewBag.dsfull)
            {
                <tr>
                    <td data-label="">@l.ID</td>
                    <td data-label="">@l.Tensanpham</td>
                    <td data-label="">@l.Gia</td>
                    <td data-label="">@l.Nsx</td>
                    <!--modal delete-->
                    <td>
                        <form class="col-sm-4" action="@Url.Action("Xoasanpham","Home")" method="post">
                            <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#ModalRemove">Delete</button>
                        </form>
                        <div class="modal fade" id="ModalRemove" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    @*<div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>*@
                                    <div class="modal-body">
                                        <form action="@Url.Action("ResultXoasanpham","Home",new {ID = l.ID})" method="post">
                                            <h2>
                                                You want remove ID: @l.ID
                                            </h2>
                                            <input style="" class="btn btn-info" type="submit" value="Confirm" />                                    
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                    @*<div class="modal-footer">

                                        
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </td>
                    <!--modal edit-->
                    <td>
                        <form class="col-sm-4" action="@Url.Action("Suasanpham","Home")" method="post">
                            <button class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#ModalEdit">Edit</button>
                        </form>
                        <div class="modal fade" id="ModalEdit" role="dialog">
                            <div class="modal-dialog modal-lg ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Modal Header</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="@Url.Action("resultthemsanpham1","Home", new {ID = l.ID,tensanpham = l.Tensanpham, gia = l.Gia, nsx = l.Nsx})" method="post">
                                            <div class="col"
                                            <div class="row">  ID:@l.ID </div>

                                            <div class="form-group row">
                                                Name:<input type="text" name="tensanpham" value="@l.Tensanpham" /><br >
                                            </div>
                                            <div class="form-group row">
                                                Price:<input type="text" name="gia" value="@l.Gia" /><br />
                                            </div>
                                            <div class="form-group row">
                                                Origin:<input type="text" name="nsx" value="@l.Nsx" /><br />
                                            </div>
                                              <input type="submit" value="confirm" />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                      
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>



    <div class="container">
        <div class="row">





            <form class="col-sm-4" action="@Url.Action("ThemsanPham1","Home")" method="post">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> Add</button>
            </form>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <form action="@Url.Action("resultthemsanpham1","Home")" method="post">
                                <div class="form-group col-md-6" style="padding-left:0;">
                                    <label for="inputEmail4">ID</label>
                                    <input class="form-control" type="text" name="id" id="id" value="1" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPassword4">Tên Sản Phẩm:</label>
                                    <input class="form-control" type="text" name="tensanpham" id="tensanpham" value="Nike Air Force 1" />
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Giá tiền:</label>
                                    <input class="form-control" type="text" name="gia" id="gia" value="2000000" />
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Nhà sản xuất:</label>
                                    <input class="form-control" type="text" name="nsx" id="nsx" value="Australia" />
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Hãng sản xuất:</label>
                                    <input class="form-control" type="text" name="tenloai" id="tenloai" value="Nike" />
                                </div>
                                <input class="btn btn-info" type="submit" value="Confirm" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>






        </div>

    </div>
</body>
</html>
